.admin-order-container {
    .admin-order-header {
        color      : #000;
        font-size  : 18px;
        font-weight: bold;
        font-family: 'Lora',
            serif;
        user-select: none;
        margin-top : 11px;
    }
}