.product-detail-container {
    // padding         : 0 120px;
    background-color: #efefef;

    .product-detail {
        width: 100%;
    }
}

h4 {
    font-family: 'Lora',
        serif;
    font-weight: 400;
    font-size  : 15px !important;
}