.slider-product {
    height: 450px;

    .slick-list {
        height: 100%;

        .slick-track {
            display: flex;
            gap    : 5px;

            .slick-slide {}
        }
    }

    display        : flex;
    align-items    : center;
    height         : 350px !important;
    justify-content: flex-start;
    gap            : 10px;

    .card-product {
        width           : calc(25% - 10px);
        background-color: white;
        box-sizing      : border-box;
        box-shadow      : rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius   : 4px;
        height          : 320px;

        &:hover {
            .card-header .card-image {
                transform: translateY(-5px);
            }

            .card-content .card-name {
                color: #1677ff;
            }
        }

        .card-header {
            height         : 230px;
            padding        : 8px 16px;
            display        : flex;
            align-items    : center;
            justify-content: center;
            border-radius  : 4px;
            position       : relative;

            .card-label {
                position        : absolute;
                top             : 0;
                left            : 0;
                font-size       : 10px;
                background-image: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
                padding         : 2px 5px;
                box-sizing      : border-box;
                overflow        : hidden;
                border-radius   : 4px;
                color           : white;
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                gap             : 2px;

                .lable-icon {}
            }

            .card-image {
                width     : 80%;
                height    : 100%;
                object-fit: cover;
                transition: transform 0.25s ease-in-out;
            }
        }

        .card-content {
            margin-top: auto;
            padding   : 4px 20px;

            .card-name {
                font-size  : 14px !important;
                font-weight: 400;
                transition : color 0.25s ease-in-out;
            }

            .card-report {
                font-size  : 13px !important;
                color      : #787889;
                display    : flex;
                align-items: center;
                margin     : 7px 0 0;

                .rate {
                    display    : flex;
                    align-items: center;

                    .star-text {
                        font-size: 13px !important;
                        position : relative;

                        &::before {
                            content    : "";
                            border-left: 1px solid #ccc;
                            position   : absolute;
                            top        : 5px;
                            left       : 22px;
                            height     : 10px;
                        }
                    }

                    .star-icon {
                        text-align  : center;
                        font-size   : 13px !important;
                        color       : yellow;
                        margin-top  : 1px;
                        margin-right: 5px;
                    }

                }

                .quality {
                    font-size  : 12px !important;
                    line-height: 8px !important;
                    color      : rgb(120, 120, 120);
                }

            }

            .card-price {
                .price-text {
                    color       : #ff424e;
                    font-size   : 18px !important;
                    font-weight : 500;
                    margin-right: 5px;
                }

                .price-discount {
                    font-size: 12px !important;
                    color    : rgb(255, 66, 78);
                }
            }
        }
    }

    .slick-next:before {
        content: "→";
    }

    .slick-prev:before {
        content: "←";
    }

    .slick-prev:before,
    .slick-next:before {
        font-family            : "slick";
        font-size              : 20px;
        line-height            : 1;
        opacity                : 0.9;
        color                  : white;
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    button.slick-arrow.slick-next {
        // background-color: red;
        position: absolute;
        right   : 10px;
        top     : 130px;

        &:hover {
            &::before {
                color: rgba(20, 118, 255, 0.55)
            }
        }

        &:active {
            &::before {
                font-size: 48px;
            }
        }

        &::before {
            font-size   : 50px;
            // color    : red
        }

    }

    button.slick-arrow.slick-prev {
        // background-color: red;
        position: absolute;
        left    : -20px;
        top     : 140px;
        z-index : 999;
        width   : 50px;
        height  : 40px;

        &:hover {
            &::before {
                color: rgba(20, 118, 255, 0.55)
            }
        }

        &:active {
            &::before {
                font-size: 48px;
            }
        }

        &::before {
            font-size: 50px;
        }
    }

    .slick-dots {
        position : absolute;
        left     : 50%;
        bottom   : -15px;
        transform: translate(-50%, -50%);

        li button:before {
            color: rgba(0, 0, 0, 0.9);
        }

        li.slick-active button:before {
            color: rgba(23, 120, 255, 0.8);
        }
    }
}