.ant-card {
    height       : 350px;
    position     : relative;
    box-shadow   : none;
    box-shadow   : rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;

    .card-cover-content {
        height: 230px;

        img {
            width : 80% !important;
            height: 100% !important;
        }
    }

    // margin-bottom: 15px;
    &:hover {
        .card-cover-content img {
            transform: translateY(-5px);
        }

        .ant-card-body .name {
            color: #1677ff;
        }

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .ant-card-cover {
        margin: 0;

        .card-cover-content {
            width          : 100%;
            display        : flex;
            justify-content: center;
            padding        : 8px 0;

            img {
                width        : 90%;
                height       : 180px;
                object-fit   : cover;
                border-radius: 15px;
                padding      : 4px 15px;
                transition   : transform 0.25s ease-in-out;
            }
        }

        .card-label {
            position        : absolute;
            top             : 0;
            left            : 0;
            font-size       : 10px;
            background-image: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
            padding         : 2px 5px;
            box-sizing      : border-box;
            overflow        : hidden;
            border-radius   : 4px;
            color           : white;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            gap             : 2px;

            .label-icon {
                font-size: 8px;
            }
        }
    }

    .ant-card-body {
        padding: 10px 15px;

        .name {
            font-size  : 14px !important;
            font-weight: 400;
            transform  : color 0.25s ease-in-out;
        }

        .report {
            font-size  : 13px !important;
            color      : #787889;
            display    : flex;
            align-items: center;
            margin     : 7px 0 0;

            .rate {
                display    : flex;
                align-items: center;

                .star-text {
                    font-size: 13px !important;
                }

                .star-icon {
                    text-align  : center;
                    font-size   : 13px !important;
                    color       : yellow;
                    margin-right: 5px;
                    position    : relative;
                }

                .star-icon::before {
                    content         : "";
                    display         : inline-flex;
                    position        : absolute;
                    width           : 1px;
                    height          : 13px;
                    border-radius   : 1px;
                    background-color: #f7f7f7;
                    right           : -2px;
                }
            }

            .report-quality {
                font-size  : 12px !important;
                line-height: 24px !important;
                color      : rgb(120, 120, 120);
            }
        }

        .price {
            .price-text {
                color       : rgb(255, 66, 78);
                font-size   : 18px !important;
                font-weight : 500;
                margin-right: 5px;
            }

            .discount {
                font-size: 13px !important;
                color    : rgb(255, 66, 78);

            }
        }
    }
}