.background {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    background-color: #ccc;

    .sign-in-container {
        width           : 800px;
        height          : 445px;
        border-radius   : 8px;
        background-color: #fff;
        display         : flex;
        overflow        : hidden;

        .container-left {
            width         : 65%;
            padding       : 40px 20px;
            display       : flex;
            flex-direction: column;

            .input {
                // border-top   : none;
                // border-left  : none;
                // border-right : none;
                border-bottom: 1px solid #ccc !important;
                border-radius: 0px;
                outline      : none !important;
                margin-bottom: 20px !important;
                font-size    : 16px !important;

            }

            input.input:focus {
                // background-color: rgb(232, 240, 254) !important;
                border : 1px solid #ccc !important;
                outline: none !important;
            }

            .input-password {
                position: relative;

                .text-showhide {
                    font-size: 14px !important;
                    color    : #0d5cb6 !important;
                    position : absolute !important;
                    right    : 0px !important;
                    top      : 30% !important;
                    transform: translateY(-50%);
                }

                .text-error {
                    color    : red;
                    font-size: 12px;
                    position : absolute;
                    bottom   : -20px;
                    left     : 8px;
                }
            }

            .text-forget-password {
                font-size: 13px;
                color    : #0d5cb6;
                cursor   : pointer;
            }

            p {
                user-select: none;
            }

            .text-create-account {
                font-size: 13px;
                color    : #0d5cb6;
                cursor   : pointer;
            }
        }

        .container-right {
            width           : 35%;
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
            background-image: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);

            .ant-image {
                width     : 100%;
                text-align: center;

                .image-logo {
                    width: 65%;
                }
            }

            .content {
                margin    : 30px 0 0;
                text-align: center;
                color     : #0b74e5;

                h4 {
                    margin: 0;
                }
            }
        }
    }
}